<%= form_for(@favorite_toy) do |f| %>
  <% if @favorite_toy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@favorite_toy.errors.count, "error") %> prohibited this favorite_toy from being saved:</h2>

      <ul>
      <% @favorite_toy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
