<p id="notice"><%= notice %></p>

<h1>Listing Favorite Toys</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @favorite_toys.each do |favorite_toy| %>
      <tr>
        <td><%= favorite_toy.name %></td>
        <td><%= favorite_toy.type %></td>
        <td><%= link_to 'Show', favorite_toy %></td>
        <td><%= link_to 'Edit', edit_favorite_toy_path(favorite_toy) %></td>
        <td><%= link_to 'Destroy', favorite_toy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Favorite toy', new_favorite_toy_path %>
